<!doctype html>
<html lang="{{ t.as_str() }}">
<head>
  <meta charset="UTF-8" />
  <meta name="application-name" content="dumbnotes" />
  <meta name="color-scheme" content="dark light" /> <!-- TODO: learn how to use properly -->
  <!-- TODO: referrer? -->
  <!-- TODO: theme-color -->
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="text-scale" content="scale" />
  <!-- TODO: base? just provide it as a template argument? -->
  <link href="/web/css/main.css" rel="stylesheet" blocking="render" /> <!-- TODO: relationship with caching? -->
  <script src="/web/js/htmx.js"></script> <!-- TODO: relationship with caching? -->
  <!-- TODO <link href="TODO" rel="icon" /> -->
  <title>{{ t!(self.t, "login.title") }}</title>
</head>
<body>
</body>
</html>
